/* remove folder icons */
.jstree-icon.jstree-themeicon {
  display: none !important;
}

/* make text wrap */
.jstree-anchor {
    /*enable wrapping*/
    white-space : normal !important;
    /*ensure lower nodes move down*/
    height : auto !important;
    /*offset icon width*/
    padding-right : 24px;
    /*set text colour*/
    color: #010068 !important;
}